.home {
    margin: 1rem auto;
    max-width: 1000px;
}

.donutButton {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 1rem;
}

img {
    width: 15rem;
}

.cartButton {
    display: flex;
    justify-content: center;
}

.error-text {
    color: red;
    text-align: center;
}
