.home {
    margin: 1rem;
}

.donutButton {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 1rem;
}

img {
    width: 15rem;
}

.donuts {
    display: flex;
}

.glasur {
    display: flex;
}

.toppings {
    display: flex;
    flex-wrap: wrap;
}

.cartButton {
    display: flex;
    justify-content: center;
}

