form{
    display: flex;
    justify-content: center;
}
.card{
    width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: white;
}

.loginContainer{
    display: flex;
    flex-direction: column;
}

.buttons button{
    width: 5rem;
    margin: 0.5rem;

}

.buttons{
    display: flex;
    justify-content: center;
}