form{
    display: flex;
    justify-content: center;
    margin: 1rem;

}

.loginContainer{
    display: flex;
    flex-direction: column;
}

.card {
    padding: 1rem;
}

.inputField.inputField {
    margin: 0.5rem;
}

.buttons button{
    margin: 0.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    justify-content: center;
}

a p {
    text-decoration: underline;
}